name: gcovr

on:
  push:
    branches:
      - master
      - feature/*
  pull_request:
    branches:
      - master
      - feature/*

permissions:
  checks: write
  pull-requests: write

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v6

    - name: install govr
      run:  sudo apt-get install -y gcovr

    - name: build
      run:  gcc --coverage -o main main.c
      working-directory: ${{github.workspace}}/prog

    - name: run
      run:  ./main
      working-directory: ${{github.workspace}}/prog

    - name: gcovr_result
      run:  gcovr --xml --output=main.xml  .
      working-directory: ${{github.workspace}}/prog

    - name: Code Coverage Report
      uses: irongut/CodeCoverageSummary@v1.3.0
      with:
        filename: ./**/main.xml
        badge: true
        fail_below_min: true
        format: markdown
        hide_branch_rate: false
        hide_complexity: false
        indicators: true
        output: both
        thresholds: '60 80'

    - name: Add Coverage PR Comment
      uses: marocchino/sticky-pull-request-comment@v2
      if: github.event_name == 'pull_request'
      with:
        recreate: true
        path: code-coverage-results.md